In [5]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import time

In [3]:
input_df = pd.read_excel("temp.xlsx", sheet_name="Sheet1")
input_df.head()

   Plnt     Material  Month  Total_cost
0  NL92  12204310004      5        0.00
1  NL92  12204310004      7      738.40
2  NL92  32210700233      3      199.68
3  NL92  32210700233      4      193.44
4  NL92  32210700233      5      199.68

In [6]:
##TODO needs further optimiation
def calc_3magg(row):
    month_no = row['Month']
    plant = row['Plnt']
    mat = row['Material']
    
    np3 = [month_no + 1, month_no + 2, month_no + 3]

    m3sum = input_df.loc[(input_df['Plnt'] == plant) & (input_df['Material'] == mat) & (input_df['Month'].isin(np3))]['Total_cost'].agg('sum')
   
    return (m3sum)
    
start = time.time()
input_df['ADC'] = input_df.apply(calc_3magg, axis=1)
end = time.time()
print(end - start)
input_df.head()

0.1894969940185547

   Plnt     Material  Month  Total_cost     ADC
0  NL92  12204310004      5        0.00  738.40
1  NL92  12204310004      7      738.40    0.00
2  NL92  32210700233      3      199.68  580.32
3  NL92  32210700233      4      193.44  555.36
4  NL92  32210700233      5      199.68  542.88